/.idea/
/.vscode/
__pycache__/
package-lock.json
tsconfig.tsbuildinfo

/assets/output/
/apps/output/
/apps/cv_service/app/models
/apps/cv_service/assets
/apps/desktop/node_modules/
/apps/desktop/presets/
/apps/camera/photos/
/database/output/
/debug/output/
/debug/modules/output/
*.env
*.log
*.pptx
