/.idea/
/.vscode/
__pycache__/
package-lock.json
tsconfig.tsbuildinfo

/assets/datasets/
/apps/cv_service/app/models
/apps/desktop/node_modules/
/apps/desktop/renderer/public/
/apps/desktop/presets/

*.png
*.env
*.log
*.pptx
*.jpg
